<?php
defined('BASEPATH') or exit('No direct script access allowed');

$active_group = 'default';
$query_builder = TRUE;

// 猜歌达人
$db['default'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'idiom_db',
    'dbdriver' => 'mysqli',
    'dbprefix' => 't_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);

// 成语大师
$db['idiom_master'] = array(
    'dsn' => '',
    //'hostname' => 'drdsio4l2955ae8p.drds.aliyuncs.com',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'guess_idiom',
    'dbdriver' => 'mysqli',
    'dbprefix' => 't_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);

// 开心消成语
$db['happy_idiom'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'happy_idiom',
    'dbdriver' => 'mysqli',
    'dbprefix' => 't_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);

// 答题王
$db['answer_king'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'answer_king',
    'dbdriver' => 'mysqli',
    'dbprefix' => 't_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
// 答题类 加减、拼音、汉字 猜颜色、猜明星
$db['da_ti'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'answer_king',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'dt_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//见缝插针
$db['game_aa'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'game_aa',
    'dbdriver' => 'mysqli',
    'dbprefix' => 't_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//flappy_bird
$db['game_flappy_bird'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'fb_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//双双游戏平台
$db['ss_platform'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'ss_platform',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'ss_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//双双游戏平台 小游戏
$db['ssg_platform'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'ssg_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//飞刀手 pk
$db['fei_dao_shou'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'fds_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//一跳冲天
$db['yi_tiao_chong_tian'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'ytct_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//棍子 pk
$db['gun_zi'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'gz_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
// 游戏
$db['wxgame'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'Wonder123',
    'database' => 'wxgame',
    'dbdriver' => 'mysqli',
    'dbprefix' => '',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//小小鱼塘PK
$db['xiao_xiao_yu_tang'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'xxyt_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//极品飞车
$db['ji_ping_fei_che'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'jpfc_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//萌萌水族箱
$db['meng_meng_shui_zu_xiang'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'mmszx_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//水果忍者
$db['shui_guo_ren_zhe'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'sgrz_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//最囧大脑
$db['zui_jiong_da_nao'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'zjdn_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);

//猫咪爱情
$db['mao_mi_ai_qing'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'mmaq_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);
//打怪萌娘
$db['da_guai_meng_niang'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'dgmn_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);

//双双游戏 公众号  'dbprefix' => 'ssgzh_',
$db['ss_gong_zhong_hao'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'ssgzh_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);

// 奶酪  脑力大逃亡
$db['nai_lao'] = array(
    'dsn' => '',
    'hostname' => 'mysql',
    'username' => 'root',
    'password' => 'root',
    'database' => 'games',
    'dbdriver' => 'mysqli',
    'dbprefix' => 'nailao_',
    'port' => '3306',
    'pconnect' => FALSE,
    'db_debug' => TRUE,
    'cache_on' => FALSE,
    'cachedir' => '',
    'char_set' => 'utf8mb4',
    'dbcollat' => 'utf8mb4_unicode_ci',
    'swap_pre' => '',
    'encrypt' => FALSE,
    'compress' => FALSE,
    'stricton' => FALSE,
    'failover' => array(),
    'save_queries' => TRUE
);